<html>
<head>

</head>
<body>
Here
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io(),
        sum = 0;

    socket.on('token_balance_change', function(data) {

        data.balances.forEach(function (obj) {
            sum += obj.balance;
        });

        console.log(sum);
        console.log(data);
    });

    socket.on('balance_changed', function(data) {
        console.log('balance_changed', data);
    });

    /*
    * balance_subscribe
    * */

    socket.emit('subscribe', 'balance_subscribe', ["hLBVfrc8pjebdcmv5SYhcsjgrMCDzQT3dQ",
        "hXNPmajTB9dp3JeY7GZAE5DNyWhgtYjmB9",
        "hdQyWrN8kmgaL2ptZSoX1LKjRs1fXLmyAi",
        "hJxsxBUVwY6dFKCVsMoPPVPeCt41gtNChu",
        "hav4yWgsG9DH9Df2V8wYJ4n6uiF3wjXajY",
        "hNfvhD2BhFbf91Wy56Dseg48csQenw62UH",
        "hf25TA9JTfUYubDpf8CsKTq5kqVBpkzX4Y",
        "hLXLrNfwJiZ32d6CLEXxToktZJMp1qTJMa",
        "hUZ6ak9NthebjMPjWXtubYLLjaP9JdfSri",
        "hYXvGDyovkyXmt68xuyubam8GUoKpigMnk",
        "hHrS8e1W2D21uXesCTcFRyvbvBuLw44WXs",
        "hQY9Q3fzyjyE6FJRVzpqERo9hEHEV9YmAC",
        "hYD23Yxo91YMfoU5sZjvWCiv3JJPHvZzKj",
        "hfQSvpJKVEJiGAuvgnzWrDaE53TeqK3tQ9",
        "hSXNF2c9MSX5e5X11wXnNoiUyAhnBBjBcf",
        "hNcveMg6FiYMFaAzTPQqrj5F59KeVnctBZ",
        "hUWAa3FLkhePufhAFNyF41GqFd2GH2vsfP",
        "hfoJNULNq7wGTduPMzre5aSM6fy5gmD9ub",
        "hYdq5r8Yknte1YHV9mrYAYheCzprMckzoy",
        "hfoVxYNoCcbV4iURe2DA4je7M3AULsvBgv",
        "ha7BUcv2m3sJoMxRsK96KRARbST7aP6gE9",
        "hSzsUDwagMqd2w3PUjbLoh73SPqxFR1G2T",
        "hZaen1pFE5UyZff6tLVhNWkrvsez5rN3Sv",
        "hHiNWKychxWW3bUocTju7d4s8MjPLajBHc",
        "hL7Wp9zpoDDY6QXoXKrXYSLZYzhegw1MRn",
        "hMPmLsyx73MyFo3SvZQm47J67owvFcDJAZ",
        "haH5j8hij5dQxQGXDJFhNcc7bswzFpHhz9",
        "hNZmPNfU4QVkpED6EUWjNaoMgUVqfwkPkr",
        "hch6hUZmWx8WGb9K9T9LgVtUusYrGqZbd7",
        "hUKyuK47VUqs6HSSi3vCLTWnWUD3enXB4o",
        "hfYAZQ4DVW6aHGsAcKFiBDzghk6HBHuLjV",
        "hZTYop641U7ahmaNEFViM2RGU8vNBCbhPZ",
        "hXPU3fyLZjkZfoMXcNyGp2WYNhJYShUrPZ",
        "hUK6tWFg6hjjDACXwFpjxC54pJsgxXJ1sf",
        "hJ35QhA6yABLjY6XMQja5uLxeQ6oo6yDqR",
        "hgqWvKTXVv3sDFN7fwKkhfmWYNtjDbtJym",
        "hUrKhJLDCXMSAe6sHX7QRQN9ohLba1z5CS",
        "heKXjYMt7uQfQHpeYXc5ekH8QntUMw8DDM",
        "hJcgMmPL5Xcu4U8ZfywBD5ENJ7ibXSag8t",
        "hbZHUL2rLMrgD1CUeiugFwdcHn2X53HYB4",
        "hUM2hFdw2fPQeJnLHP9yZQE88J7UCRPtY4",
        "ha7Y8WabUdXM3M4SwrmEq6sV8VJoHRAy5i",
        "hWrfTjyVkwFSs1LfMHQmk3UUa5zdB6j5y6",
        "hYxAysdMi37z6FKvPQpt2dgKdnVhKxBG9V",
        "hVG2Y9YwCSAXPPyDMsmSbG592TasSsQAgo",
        "hbrkVApgsUDJzjpH4gLBG4B6AAmBHQNi4q",
        "hgApdwaXQne9Hy2SwuYSFMH2pQngUDULqT",
        "hYHvQtuss6VFdjDRUr4TCbs4JiWSk7NK1s",
        "hMXW1q3i5uKusubn6Lgwxj2DrvkLV4Mx3K",
        "hNTRfUhQVdMTSEeyygTGVaKWKsvZd1Aeag",
        "hdKqfh3nvFJByD1HLSxN5iNfj6GkeT7Enr",
        "hW8YGWNvFi6SBJSMXWBUogh9GyjnL8Z8rV",
        "hK7KPb2MYAGdoViPy1BAV1XsMAqJSXw4xH",
        "hbt71MprP3tGG5pRS53rGJBzfy6H1wmRJF",
        "hbwVpaWEH7R6bWDCdtiNWTuk7PSzknSa6a",
        "hHu8kWWeDDrXKHx6xieRi14ZYDWt9Xz2KL",
        "hVg2ffh1i7TRGRy3cK2vMN4MAwNQ351Vbt",
        "hLTKic8CjfD3ZAqGB5ukVuPnSSTgP26jA9",
        "hTfbXGUtUWheJkPRo4fsq8VJgNUjM8bQ8w",
        "haob6U5RZgVNtsm7ZG6dsEjsFtFLAqxKkM",
        "heT3rtgKMq2WXZvATYJXNsYKYodqpKFFiF",
        "hMkK6bWby8vjsKrhunQruGTmx2S18YcmeX",
        "hgNbctjmaqRqzAZhiTQofz6b6WQr6htGq1",
        "hVsrgdnVdZFGse1guJm1UoNcBTC2A7Axje",
        "ha7m9N2YnAPBC8i5vKxxY2AFa8y2Hynyq3",
        "hRf2Q92xdsfdha6AagRfbZg7Dc2Bpzbejc",
        "hKEiCij8vCGauKesUaG6iPXj25fRc95kPM",
        "hXusapemdVvERVSYhH1y9D5bb43yB8U4ED",
        "hYPhw3wt89S4doQ4SCEvN2XmXiHkvcJX2h",
        "hKwaaaxstymUwFkank7yBwvWYugGB8HQCA",
        "hMnTrVdgZSmaWuWHFtAuReCeen3EtEVnQg",
        "hMU3i6D2x23qCbzot9QbSv5gsfeErxeVZ4",
        "hMcGXLGPNZ7s1YQfeguCWvF6a1DwnMSHbE",
        "qKCDCwyvkon2F1D3XH9Kn9L9aKGafp4Jgp",
        "hVUqoDB3rvDMDNk6JNHh42J12mk897yPAF",
        "hQBMZQ32sti2ayf6K5w4PAJdaUd4wfBesC",
        "hX2cGM4ZmyExnZ1rtqtJ1EzXToHDxAd8E3",
        "hQiMKVSsQsZTybhDF4GnHobqzBD333Q8qq",
        "hSqjuQzq5qttY8Bj9uCxpc5PvGQTLXp7xA",
        "hTxkoefhjgLLJWMCFkHtJBkr3bQYXtdV8E",
        "hTZTES68WJum1BbZvVztz99sK3TJeFZotL",
        "hfGuMUWMk2sPeQVYjnEa5mi1bzJLKxNuxy",
        "hWcKQmSpuRZu2qe956D5yvFcYnjDXgJyNJ",
        "hZYaWpUqmra1dfKcrhh6r6kXoAgwJGLQBt",
        "hbuoiEGMc83Aiyik4VUbmqJHLEAnViWtzf",
        "hby3EfDFv9kKaHTsHQXt3hcFwU7BUKBAsj",
        "hZZRb2vD4wjV7mqawfKk7rvuZ1YihX9rZV",
        "hZv9QUPZ55astJD5bj8P8vPusoxeQrCeRv",
        "hZ4UUkwwomM4g7M1F4jpgjdGcEZY6p3FA3",
        "hMuL4txwmdSTCCpnXV4VBWK9B6ANPxYZ2R",
        "hg1izBtE8XUXZdxwnstqBVaQo3UHsV7KVL",
        "hbt2e3VtWx7DQkX2syFYtMVbhKmJYzpXec",
        "hRBNYs7SY3ZB45sgYnwN31n5yQYztuUYm4",
        "hKBAhz6qCfNi3SMuGtQnd5Rftq9X56LkDh",
        "hgj1TghdA4HShqzWtUfL98qzT9AFYhKfxq",
        "hTH7znqePoNUTw4BEp4gdLJTbo5nNrqweK",
        "hbMenT7U95aQktgJLWhK2piTrMe4htfvMd",
        "hQsuMEQZafj7RFfnvD5wt12m1dbhMb3mvp",
        "hMQKjqYJDFahjTiWu7syEMc6HnNjJgpXra",
        "hNo17WdKRKBAGuPw7YSpUSD95x4PmyvwFM"],
         {
//             notificationToken:'e7iYthP6DM4:APA91bHY15YneLDcAhgTEt-_Pxv2g9dooOxfuiRc0zAoYMZbZWSRQeGL3Mec0dyedFncVsmUfiS4ickDcbZKV9YqMw1ZeGc9MIbsv7Z2OJTEY7CjcWHYG8orkD3ps-dWkCwaH0afF1TV',
             notificationToken: 'eoD3HV8RYcU:APA91bEZbKQz816S-cCUAmAARBh8h_Fqk7XncwSVNeqzWaMS9yLFsNXeLWHM70hQmwSmBPfYczvavZAeYrCRiOxG3VZVmV3SVvB3JArdnZTzA-RDIXJCtwQ0fgWZD6iymx-Se4sYjQEA',
             language: 'es'
         }
    );


    /**
     * token_balance_change
     */
    socket.emit('subscribe', 'token_balance_change', {
        contract_address: '6b17f05d2b1d1adb97ea409ea9848c8b1b89be3d',
        addresses: ["hLBVfrc8pjebdcmv5SYhcsjgrMCDzQT3dQ",
        "hXNPmajTB9dp3JeY7GZAE5DNyWhgtYjmB9",
        "hdQyWrN8kmgaL2ptZSoX1LKjRs1fXLmyAi",
        "hJxsxBUVwY6dFKCVsMoPPVPeCt41gtNChu",
        "hav4yWgsG9DH9Df2V8wYJ4n6uiF3wjXajY",
        "hNfvhD2BhFbf91Wy56Dseg48csQenw62UH",
        "hf25TA9JTfUYubDpf8CsKTq5kqVBpkzX4Y",
        "hLXLrNfwJiZ32d6CLEXxToktZJMp1qTJMa",
        "hUZ6ak9NthebjMPjWXtubYLLjaP9JdfSri",
        "hYXvGDyovkyXmt68xuyubam8GUoKpigMnk",
        "hHrS8e1W2D21uXesCTcFRyvbvBuLw44WXs",
        "hQY9Q3fzyjyE6FJRVzpqERo9hEHEV9YmAC",
        "hYD23Yxo91YMfoU5sZjvWCiv3JJPHvZzKj",
        "hfQSvpJKVEJiGAuvgnzWrDaE53TeqK3tQ9",
        "hSXNF2c9MSX5e5X11wXnNoiUyAhnBBjBcf",
        "hNcveMg6FiYMFaAzTPQqrj5F59KeVnctBZ",
        "hUWAa3FLkhePufhAFNyF41GqFd2GH2vsfP",
        "hfoJNULNq7wGTduPMzre5aSM6fy5gmD9ub",
        "hYdq5r8Yknte1YHV9mrYAYheCzprMckzoy",
        "hfoVxYNoCcbV4iURe2DA4je7M3AULsvBgv",
        "ha7BUcv2m3sJoMxRsK96KRARbST7aP6gE9",
        "hSzsUDwagMqd2w3PUjbLoh73SPqxFR1G2T",
        "hZaen1pFE5UyZff6tLVhNWkrvsez5rN3Sv",
        "hHiNWKychxWW3bUocTju7d4s8MjPLajBHc",
        "hL7Wp9zpoDDY6QXoXKrXYSLZYzhegw1MRn",
        "hMPmLsyx73MyFo3SvZQm47J67owvFcDJAZ",
        "haH5j8hij5dQxQGXDJFhNcc7bswzFpHhz9",
        "hNZmPNfU4QVkpED6EUWjNaoMgUVqfwkPkr",
        "hch6hUZmWx8WGb9K9T9LgVtUusYrGqZbd7",
        "hUKyuK47VUqs6HSSi3vCLTWnWUD3enXB4o",
        "hfYAZQ4DVW6aHGsAcKFiBDzghk6HBHuLjV",
        "hZTYop641U7ahmaNEFViM2RGU8vNBCbhPZ",
        "hXPU3fyLZjkZfoMXcNyGp2WYNhJYShUrPZ",
        "hUK6tWFg6hjjDACXwFpjxC54pJsgxXJ1sf",
        "hJ35QhA6yABLjY6XMQja5uLxeQ6oo6yDqR",
        "hgqWvKTXVv3sDFN7fwKkhfmWYNtjDbtJym",
        "hUrKhJLDCXMSAe6sHX7QRQN9ohLba1z5CS",
        "heKXjYMt7uQfQHpeYXc5ekH8QntUMw8DDM",
        "hJcgMmPL5Xcu4U8ZfywBD5ENJ7ibXSag8t",
        "hbZHUL2rLMrgD1CUeiugFwdcHn2X53HYB4",
        "hUM2hFdw2fPQeJnLHP9yZQE88J7UCRPtY4",
        "ha7Y8WabUdXM3M4SwrmEq6sV8VJoHRAy5i",
        "hWrfTjyVkwFSs1LfMHQmk3UUa5zdB6j5y6",
        "hYxAysdMi37z6FKvPQpt2dgKdnVhKxBG9V",
        "hVG2Y9YwCSAXPPyDMsmSbG592TasSsQAgo",
        "hbrkVApgsUDJzjpH4gLBG4B6AAmBHQNi4q",
        "hgApdwaXQne9Hy2SwuYSFMH2pQngUDULqT",
        "hYHvQtuss6VFdjDRUr4TCbs4JiWSk7NK1s",
        "hMXW1q3i5uKusubn6Lgwxj2DrvkLV4Mx3K",
        "hNTRfUhQVdMTSEeyygTGVaKWKsvZd1Aeag",
        "hdKqfh3nvFJByD1HLSxN5iNfj6GkeT7Enr",
        "hW8YGWNvFi6SBJSMXWBUogh9GyjnL8Z8rV",
        "hK7KPb2MYAGdoViPy1BAV1XsMAqJSXw4xH",
        "hbt71MprP3tGG5pRS53rGJBzfy6H1wmRJF",
        "hbwVpaWEH7R6bWDCdtiNWTuk7PSzknSa6a",
        "hHu8kWWeDDrXKHx6xieRi14ZYDWt9Xz2KL",
        "hVg2ffh1i7TRGRy3cK2vMN4MAwNQ351Vbt",
        "hLTKic8CjfD3ZAqGB5ukVuPnSSTgP26jA9",
        "hTfbXGUtUWheJkPRo4fsq8VJgNUjM8bQ8w",
        "haob6U5RZgVNtsm7ZG6dsEjsFtFLAqxKkM",
        "heT3rtgKMq2WXZvATYJXNsYKYodqpKFFiF",
        "hMkK6bWby8vjsKrhunQruGTmx2S18YcmeX",
        "hgNbctjmaqRqzAZhiTQofz6b6WQr6htGq1",
        "hVsrgdnVdZFGse1guJm1UoNcBTC2A7Axje",
        "ha7m9N2YnAPBC8i5vKxxY2AFa8y2Hynyq3",
        "hRf2Q92xdsfdha6AagRfbZg7Dc2Bpzbejc",
        "hKEiCij8vCGauKesUaG6iPXj25fRc95kPM",
        "hXusapemdVvERVSYhH1y9D5bb43yB8U4ED",
        "hYPhw3wt89S4doQ4SCEvN2XmXiHkvcJX2h",
        "hKwaaaxstymUwFkank7yBwvWYugGB8HQCA",
        "hMnTrVdgZSmaWuWHFtAuReCeen3EtEVnQg",
        "hMU3i6D2x23qCbzot9QbSv5gsfeErxeVZ4",
        "hMcGXLGPNZ7s1YQfeguCWvF6a1DwnMSHbE",
        "hKCDCwyvkon2F1D3XH9Kn9L9aKGafp4Jgp",
        "qVUqoDB3rvDMDNk6JNHh42J12mk897yPAF",
        "hQBMZQ32sti2ayf6K5w4PAJdaUd4wfBesC",
        "hX2cGM4ZmyExnZ1rtqtJ1EzXToHDxAd8E3",
        "hQiMKVSsQsZTybhDF4GnHobqzBD333Q8qq",
        "hSqjuQzq5qttY8Bj9uCxpc5PvGQTLXp7xA",
        "hTxkoefhjgLLJWMCFkHtJBkr3bQYXtdV8E",
        "hTZTES68WJum1BbZvVztz99sK3TJeFZotL",
        "hfGuMUWMk2sPeQVYjnEa5mi1bzJLKxNuxy",
        "hWcKQmSpuRZu2qe956D5yvFcYnjDXgJyNJ",
        "hZYaWpUqmra1dfKcrhh6r6kXoAgwJGLQBt",
        "hbuoiEGMc83Aiyik4VUbmqJHLEAnViWtzf",
        "hby3EfDFv9kKaHTsHQXt3hcFwU7BUKBAsj",
        "hZZRb2vD4wjV7mqawfKk7rvuZ1YihX9rZV",
        "hZv9QUPZ55astJD5bj8P8vPusoxeQrCeRv",
        "hZ4UUkwwomM4g7M1F4jpgjdGcEZY6p3FA3",
        "hMuL4txwmdSTCCpnXV4VBWK9B6ANPxYZ2R",
        "hg1izBtE8XUXZdxwnstqBVaQo3UHsV7KVL",
        "hbt2e3VtWx7DQkX2syFYtMVbhKmJYzpXec",
        "hRBNYs7SY3ZB45sgYnwN31n5yQYztuUYm4",
        "hKBAhz6qCfNi3SMuGtQnd5Rftq9X56LkDh",
        "hgj1TghdA4HShqzWtUfL98qzT9AFYhKfxq",
        "hTH7znqePoNUTw4BEp4gdLJTbo5nNrqweK",
        "hbMenT7U95aQktgJLWhK2piTrMe4htfvMd",
        "hQsuMEQZafj7RFfnvD5wt12m1dbhMb3mvp",
        "hMQKjqYJDFahjTiWu7syEMc6HnNjJgpXra",
        "hNo17WdKRKBAGuPw7YSpUSD95x4PmyvwFM"]},
        {
            notificationToken:'e7iYthP6DM4:APA91bHY15YneLDcAhgTEt-_Pxv2g9dooOxfuiRc0zAoYMZbZWSRQeGL3Mec0dyedFncVsmUfiS4ickDcbZKV9YqMw1ZeGc9MIbsv7Z2OJTEY7CjcWHYG8orkD3ps-dWkCwaH0afF1TV',
            prevToken: 'eoD3HV8RYcU:APA91bEZbKQz816S-cCUAmAARBh8h_Fqk7XncwSVNeqzWaMS9yLFsNXeLWHM70hQmwSmBPfYczvavZAeYrCRiOxG3VZVmV3SVvB3JArdnZTzA-RDIXJCtwQ0fgWZD6iymx-Se4sYjQEA',
            language: 'en'
        }
    );


</script>
</body>
</html>
